@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@500;700&family=Noto+Serif+KR:wght@600&display=swap');

.section-shaped .shape-style-1.shape-default {
    background: linear-gradient(179deg, #172b4d 15%, #6782b0 70%, #ffffff 94%) !important;
}

.section {
    padding-top: 3rem !important;
    padding-bottom: 14rem;
}

.minus-mt-9 {
    margin-top: -9rem;
}

h3, p {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}